/*html { 
  /*background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
    font-family:'Malgun Gothic';
}*/

.font-color{
	font-family:'Malgun Gothic';
	color:#ffffff; 
	text-align: center;
}

.font{
	text-align: center; 
	font-size: 30px; 
	color:#FFFFFF; 
	text-shadow: 2px 2px #000000;
}
